// Import Section
@import 'colors';
@import 'mixins';

main{
    color: $emphasis-color-one;
    background-color: $main-color;
    h1{
        color:$emphasis-color-two;
    }
    p,li{
        color: $secondary-color;
    }
    code{
        @include fuente("monospace");
        color: $emphasis-color-two;
    }
    hr{
        border-color: rgba(#d0398a,0.5);
    }
}